-r requirements.txt

aiohttp-socks>=0.8.4
pytest>=8.0.1
pytest-asyncio>=0.23.5
pytest-cov>=4.1.0
codecov>=2.1.13
black==22.3.0
ipdb==0.13.9
ipython>=7.31.1
flake8==6.1.0
isort==5.10.1
slotscheck==0.17.1
twine==3.8.0
mypy==1.7.1
pip-upgrader==1.4.15
wheel==0.42.0